// Main style sheet
// Import additional styles here


// end import
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

html { font-family: 'Roboto', sans-serif; }

body {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    color: #444D58;
    background-color: #EFF3F8;
}

.body-wrapper {
  @media screen and (max-width: 700px) {
    padding-left: .2rem;
    padding-right: .2rem;
  }

  @media screen and (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  margin-top: 25px;
}

.body-content {
  padding: 10px;
  text-align: center;
}


.side-list {
  width: 250px;
  flex: initial;
}
.nav-link {
  text-decoration: none;
}


.appbar-typo {
  flex: 1;
}
